<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap" rel="stylesheet">

    <title>Fight</title>
  </head>

  <body>
    <div class="fight_container">

      <h1>Fight</h1>

      <header>
        <nav class="main_menu">
          <ul>
            <li class="dashed_border bg_black_rgba">
              <a href="#" class="green_yellow">HOME</a>
            </li>
            <li class="dashed_border bg_black_rgba">
              <a href="#" class="green_yellow">RULES</a>
            </li>
            <li class="dashed_border bg_black_rgba">
              <a href="#" class="green_yellow">FIGHT</a>
            </li>
            <li class="dashed_border bg_black_rgba">
              <a href="#" class="green_yellow">RANKING</a>
            </li>
          </ul>
        </nav>
      </header>

      <section class="fight">

        <div class="card">
          <img src="../static/IMG/sherlock.jpg" class="card-img-top" alt="Sherlock Holmes">
          <div class="card-body"></div>
        </div>

        <div class="description green_yellow dashed_border bg_black_rgba">
          <p>here actions of fight</p>
        </div>

        <div class="card">
          <img src="../static/IMG/moriarty_profil.jpg" class="card-img-top" alt="Professeur Moriarty">
          <div class="card-body"></div>
        </div>
      
      </section>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>