<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap" rel="stylesheet">

    <title>Winner</title>
  </head>

  <body>
    <div class="win_container">

      <h1 class="h1win"><strong th:text="${currentPlayer}">You</strong> is the Winner !</h1>
      <div class="overlay"></div>

      <header>
        <nav class="main_menu">
          <ul>
            <li class="dashed_border bg_black_rgba">
              <a href="/" class="green_yellow">HOME</a>
            </li>
            <li class="dashed_border bg_black_rgba">
              <a href="/rules" class="green_yellow">RULES</a>
            </li>
            <li class="dashed_border bg_black_rgba">
              <a href="/fight" class="green_yellow">FIGHT</a>
            </li>
            <li class="dashed_border bg_black_rgba">
              <a href="/ranking" class="green_yellow">RANKING</a>
            </li>
          </ul>
        </nav>
      </header>
      
    </div>

  </body>
</html>