@font-face {
    font-family: "Retro computer";
    src: url("../CSS/retro_computer_personal_use.ttf");
}

h1 {
    margin-left: 20vw;
    font-size:100pt;
    font-family: 'IM Fell English SC', serif;
    color:white;
    text-shadow: 5px 5px black;
}

body {
    font-family: "Retro computer", serif;
}

.main_menu {
    position: absolute;
    left:0;
    top:0;
    height: 100vh;
    width: 20vw;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_menu ul {
    list-style-type: none;
}

.main_menu ul li {
    padding: 20px;
    margin: 40px 0 40px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.main_menu ul li a {
    text-decoration: none;
}

.main_menu ul li:hover {
    background-color: white;
}

.main_menu ul li:hover a {
    color: black;
}

.dashed_border {
    border: 4px dashed white;
}

.green_yellow {
    color: greenyellow;
}

.rules_container {
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    background-image: url(../IMG/rules_bg.jpg);
    background-size: cover;
}

.rules {
    padding: 40px;
    margin-left:20vw;
    background-color: rgba(0, 0, 0, 0.8);
}

.rules span {
    color:white;
    font-size:15pt;
}

.fight_container {
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    background-image: url(../IMG/figth_bg.jpg);
    background-size: cover;
}

.fight {
    display:flex;
    margin-left: 20vw;
}

.description {
    width:40vw;
    height:328px;
    margin:auto 20px auto 20px;
    background-color: rgba(0, 0, 0, 0.8);
    display:flex;
    align-items:center;
    justify-content:center;
}

.card {
    width:12vw;
}